<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tour Packages</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="tourPackage : ${tourPackages}">
        <td><a th:href="${'/tourPackage/' + d.getDirectorid()}"><span th:text="${d.getDirectorid()}"></span></a></td>
        <td th:text="${tourPackage.getId()}">id</td>
        <td th:text="${tourPackage.getName()}">title</td>
    </tr>
    </tbody>
</table>

</body>
</html>