<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>Welcome to KTA tours</title>
</head>
<body>
<h1>Καλώς ορίσατε στο "KTA Tours"&trade;</h1>
<h2>Παρακαλώ επιλέξτε έναν απο τους παρακάω προορισμούς</h2>
<div>
    <ul>
        <li><a href="/api/tours/4">Ρέθυμνο</a></li>
        <li><a href="/api/tours/1">Λασίθι</a></li>
        <li><a href="/api/tours/3">Χανιά</a></li>
        <li><a href="/api/tours/2">Ηράκλειο</a></li>
    </ul>
</div>

<h3>Τι είπαν για εμάς</h3>
<div>
    <ul>
        <li><a href="/api/ratings/4">Ρέθυμνο</a></li>
        <li><a href="/api/ratings/1">Λασίθι</a></li>
        <li><a href="/api/ratings/3">Χανιά</a></li>
        <li><a href="/api/ratings/2">Ηράκλειο</a></li>
    </ul>
</div>

</body>
</html>