<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to KTA tours</title>
</head>
<body>
<h1 th:text="${welcomeMessage}">welcome message</h1>
<h2 th:text="${chooseDestination}">choose destination</h2>
<div>
    <ul>
        <li><a href="/api/tours/4">Ρέθυμνο</a></li>
        <li><a href="/api/tours/1">Λασίθι</a></li>
        <li><a href="/api/tours/3">Χανιά</a></li>
        <li><a href="/api/tours/2">Ηράκλειο</a></li>
    </ul>
</div>

<h3>Τι είπαν για εμάς</h3>
<div>
    <ul>
        <li><a href="/api/ratings/4">Ρέθυμνο</a></li>
        <li><a href="/api/ratings/1">Λασίθι</a></li>
        <li><a href="/api/ratings/3">Χανιά</a></li>
        <li><a href="/api/ratings/2">Ηράκλειο</a></li>
    </ul>
</div>

</body>
</html>