<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}" with:title="'Welcome to our page'">
    <th:block layout:fragment="content">
        <!-- Home -->
        <div class="home">
            <!-- Home Slider -->
            <div class="home_slider_container">
                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <!-- Image by https://unsplash.com/@anikindimitry -->
                    <div class="home_slider_background"
                         style="background-image:url(images/contact_background.jpg)"></div>
                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner" data-animation-in="flipInX"
                             data-animation-out="animate-out fadeOut">
                            <h1></h1>
                            <h1 th:text="${tour.get().getTitle()}">TITLE</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h1 th:text="${tour.get().getTitle()}"></h1>
        <div>
            <p th:text="${tour.get().getDescription()}"></p>
            <p th:text="'Διάρκεια: ' + ${tour.get().getDuration()} + ' ώρες'"></p>
            <p th:text="'Τιμή: ' + ${tour.get().getPrice()} + ' ευρώ'"></p>
            <p th:text="'Λέξεις κλειδιά: ' + ${tour.get().getKeywords()}"></p>
            <p>Πακέτο:
                <a th:href="@{/tour/{tourPackageId}(tourPackageId=${tour.get().getTourPackage().getId()})}"
                   th:text="${tour.get().getTourPackage().getName()}">name</a></p>
        </div>
    </th:block>
</html>