<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}" with:title="'Welcome to our page'">
    <th:block layout:fragment="content">
        <!-- Home -->

        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/about_background.jpg"></div>
            <div class="home_content">
                <div class="home_title">Εκδρομες</div>
            </div>
        </div>

        <div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Keywords</th>
                    <th>Region</th>
                    <th>TourPackage</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="tour : ${tours}">
                    <td th:text="${tour.getId()}">id</td>
                    <td><a th:href="@{/tournumber/{tourId}(tourId=${tour.getId()})}"
                           th:text="${tour.getTitle()}">title</a></td>
                    <td th:text="${tour.getDescription()}">description</td>
                    <td th:text="${tour.getPrice()}">price</td>
                    <td th:text="${tour.getDuration()}">duration</td>
                    <td th:text="${tour.getKeywords()}">keywords</td>
                    <td th:text="${tour.getRegion()}">region</td>
                    <td><a th:href="@{/tour/{tourPackageId}(tourPackageId=${tour.getTourPackage().getId()})}"
                           th:text="${tour.getTourPackage().getName()}">name</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </th:block>
</html>